.list { 
    display: flex;
    gap: 20px;
}
.card {
    border: 1px solid #000000; 
    padding: 10px; 
    width: 200px; 
    height: 250px;
    text-align: center; 
    border-radius: 6px;
}
.card img { 
    width: 100%; 
}
.card button { 
    margin-top: 10px; 
    padding: 6px 12px; 
}
.product-list{
    display: flex;
    gap: 20px;
}